.cfg, .inv {
    margin: 2% 1%;
    width: 48%;
    height: 94;
    border: 1px solid rgb(58, 58, 58);
    border-radius: 5px;
    overflow: hidden;
}

.fileheader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fileLoc {
    font-family: 'consolas';
    padding: 1.2px 3px;
    border-radius: 3px;
}
#fileBlock {
    display: flex;
    align-items: center;
    justify-content: center;
}