*{
  margin: 0;
  padding: 0;
  /* border: 1px solid yellow; */
}

.App {
  font-family: "Roboto";
}

::-webkit-scrollbar {
  width: 8px;
  background: transparent
}
::-webkit-scrollbar-thumb {
  background: rgb(107, 107, 107);
  border-radius: 10px;
}